html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 400 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-image: url('https://cdn.wallpapersafari.com/73/49/0fIFj5.jpg');
  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
